.upper-navbar-container {
  background: linear-gradient(
    97.53deg,
    rgb(246, 135, 179) 5.6%,
    rgb(123, 97, 255) 59.16%,
    rgb(22, 209, 161) 119.34%
  );
  padding: 6px 16px;
}

.upper-navbar-container img {
  width: 25px;
  margin: 0px 5px;
}

.upper-navbar-container span {
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 80px;
}

.navbar-left-options {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.navbar-left-options li {
  list-style: none;
  padding: 22px 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.navbar-left-options li a {
  text-decoration: none;
  color: black;
}

.navbar-left-options li:hover {
  background: rgba(0, 0, 0, 0.029);
  color: rgba(0, 0, 0, 0.95);
}

.navbar-right-options div {
  margin: 5px 16px;
  cursor: pointer;
}

.navbar-container img {
  width: 80px;
  cursor: pointer;
  padding: 5px;
}

.navbar-container img:hover {
  background: rgba(0, 0, 0, 0.029);
}

.hamburger-icon {
  padding: 22px 16px;
  margin: 0px 15px;
}

.search-icon {
  margin: 0px 15px;
  padding: 22px 16px;
}

.navbar-side-bar {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  background: white;
  transition: all 0.5s;
  padding: 13px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.hide-side-bar {
  transform: translateX(-100%);
}

.show-side-bar {
  transform: translateX(0%);
}

.side-bar-item-container {
  width: 150px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.side-bar-item-container:hover {
  background-color: rgb(235, 235, 235);
}

.connect-wallet-button {
  border-bottom: 1px solid rgb(205, 205, 205);
  padding: 10px;
  padding-bottom: 19px;
  display: flex;
  justify-content: center;
}

.connect-wallet-button button {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: rgb(24 198 131);
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .navbar-container {
    justify-content: flex-start;
    padding: 0px 10px;
  }

  .navbar-left-options li {
    list-style: none;
    padding: 10px 16px;
  }
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
