.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-only-in-small-devices {
  display: none;
}

.upper-navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--navbar-bg-color);
  padding: 6px 16px;
}

.upper-navbar-container img {
  width: 25px;
  margin: 0px 5px;
}

.upper-navbar-container span {
  color: var(--white);
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 80px;
}

.navbar-container img {
  width: 80px;
  cursor: pointer;
  padding: 15px 5px;
}

.navbar-container img:hover {
  background: var(--light-gray);
}

.navbar-left-options {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.navbar-left-options li {
  list-style: none;
  padding: 22px 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.navbar-left-options li a {
  text-decoration: none;
  color: var(--black);
}

.navbar-left-options li:hover {
  background: var(--light-gray);
  color: var(--black);
}

.navbar-right-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right-options div {
  margin: 5px 16px;
  cursor: pointer;
}

.hamburger-icon {
  padding: 22px 16px;
  margin: 0px 15px;
  cursor: pointer;
}

.search-icon {
  margin: 0px 15px;
  padding: 22px 16px;
}

.navbar-side-bar {
  position: fixed;
  height: 100%;
  top: 0px;
  left: 0px;
  background: var(--white);
  transition: all 0.5s;
  padding: 13px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.hide-side-bar {
  transform: translateX(-100%);
}

.show-side-bar {
  transform: translateX(0%);
}

.side-bar-item-container {
  width: 150px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.side-bar-item-container:hover {
  background-color: var(--light-gray);
}

.connect-wallet-button {
  border-bottom: 1px solid var(--light-gray);
  padding: 10px;
  padding-bottom: 19px;
  display: flex;
  justify-content: center;
}

.connect-wallet-button button {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--green);
  color: var(--white);
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .show-only-in-small-devices {
    display: block;
  }

  .dont-show-in-small-devices {
    display: none;
  }

  .navbar-container {
    justify-content: flex-start;
    padding: 0px 10px;
  }

  .navbar-left-options li {
    list-style: none;
    padding: 10px 16px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    justify-content: space-between;
  }
}
