.upper-navbar-container {
    background: linear-gradient(97.53deg, rgb(246, 135, 179) 5.6%, rgb(123, 97, 255) 59.16%, rgb(22, 209, 161) 119.34%);
    padding: 6px 16px;
}

.upper-navbar-container img {
    width: 25px;
    margin: 0px 5px;
}

.upper-navbar-container span {
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 80px;
}

.navbar-left-options {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar-left-options li {
    list-style: none;
    padding: 22px 16px;
    cursor: pointer;
    transition: all 0.5s;
}

.navbar-left-options li a {
    text-decoration: none;
    color: black;
}

.navbar-left-options li:hover{
    background: rgba(0, 0, 0, 0.029);
    color: rgba(0,0,0,.95);
}

.navbar-right-options div {
    margin: 5px 16px;
}

.navbar-container img {
    width: 80px;
    cursor: pointer;
    padding: 5px;
}

.navbar-container img:hover {
    background: rgba(0, 0, 0, 0.029);
}