.menu {
    width: 290px;
    color: var(--white);
}

.footer-container {
    padding: 25px;
    background-image: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-container ul {
    list-style: none;
    padding: 0px;
}

.footer-container a, .footer-container span {
    text-decoration: none;
    color: var(--white);
    opacity: 0.5;
}

.footer-container a:hover {
    opacity: 1;
}

.footer-container ul li {
    list-style: none;
}

.footer-container h2{
    font-size: 1rem;
}

.footer-right, .footer-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.right-menu2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media only screen and (max-width: 1200px){
    .menu {
        width: 170px;
    }
}

@media only screen and (max-width: 825px){
    .footer-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 305px){
    .footer-right, .footer-left {
        flex-direction: column;
    }
}